<mat-card class="colorBack">
  <mat-action-list>
    <div mat-subheader >Menu
    </div>
    <div>
    <button mat-list-item routerLink="/admin">
      <mat-icon matListItemIcon>home</mat-icon>
      Inicio
    </button>
    <button mat-list-item routerLink="/admin/profile">
      <mat-icon matListItemIcon>account_circle</mat-icon>
      Perfil
    </button>
    <button mat-list-item routerLink="/admin/categorias">
      <mat-icon matListItemIcon>list</mat-icon>
      Categorias
    </button>

    <button mat-list-item routerLink="/admin/add-categoria">
      <mat-icon matListItemIcon>add_circle</mat-icon>
      Agregar categoria
    </button>
    <button mat-list-item routerLink="/admin/examenes">
      <mat-icon matListItemIcon>quiz</mat-icon>
      Cuestionarios
    </button>
    <button mat-list-item routerLink="/admin/add-examen">
      <mat-icon matListItemIcon>add_circle</mat-icon>
      Agregar Cuestionario
    </button>
  </div>
  </mat-action-list>
</mat-card>