<mat-card>
    <div mat-subheader>
        Cuestionarios
    </div>
    <div *ngFor="let e of examenes">
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>{{ e.titulo }}</mat-card-title>
            <mat-card-subtitle>{{ e.categoria.titulo }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-card-actions>
                <div class="container2">
                    <button mat-flat-button color="primary">Preguntas</button>
                    <button mat-raised-button class="boton" style="width: 15em; 
                        background-color: rgb(150, 43, 179);">
                        Puntos Maximos {{ e.puntosMaximos }}</button>
                    <button mat-raised-button class="boton" [routerLink]="'/admin/ver-preguntas/'+e.id+'/'+e.titulo" 
                        style="width: 18em; background-color: rgb(150, 43, 179);">
                        Numero de Preguntas {{e.numeroDePreguntas}} </button>

                    <button mat-flat-button [routerLink]="'/admin/examen/'+e.id" color="primary" class="boton">Actualizar</button>
                    <button mat-flat-button color="primary" class="boton">Intentos</button>
                    <button mat-flat-button color="warn" class="boton"
                        (click)="eliminarExamen(e.id)">Eliminar</button>
                </div>
            </mat-card-actions>
        </mat-card-content>
    </div>
</mat-card>

<div class="container text-center">
    <button mat-raised-button routerLink="/admin/add-examen" color="primary">Agregar Cuestionario</button>
</div>